@import url(http://fast.fonts.net/t/1.css?apiType=css&projectid=61e4c003-a749-4d8f-9151-563b6a5ad2ee);
@font-face {
  font-family: 'Avenir Next';
  src: url(https://cdn.jsdelivr.net/gh/kreatinc/L2L-public-assets@latest/fonts/avenir-next/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/kreatinc/L2L-public-assets@latest/fonts/avenir-next/1e9892c0-6927-4412-9874-1b82801ba47a.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url(https://cdn.jsdelivr.net/gh/kreatinc/L2L-public-assets@latest/fonts/avenir-next/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/kreatinc/L2L-public-assets@latest/fonts/avenir-next/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next';
  src: url(https://cdn.jsdelivr.net/gh/kreatinc/L2L-public-assets@latest/fonts/avenir-next/14c73713-e4df-4dba-933b-057feeac8dd1.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/kreatinc/L2L-public-assets@latest/fonts/avenir-next/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url(https://cdn.jsdelivr.net/gh/kreatinc/L2L-public-assets@latest/fonts/avenir-next/eaafcb26-9296-4a57-83e4-4243abc03db7.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/kreatinc/L2L-public-assets@latest/fonts/avenir-next/25e83bf5-47e3-4da7-98b1-755efffb0089.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}
